
:root {
    --name-clip: none;
}

main {
    position: relative;
    min-height: 10000px;
    overflow: hidden;
    width: 100%;
}

.background_layer1 {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

header {
    background-color: rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    font-size: 3em;
    padding: 40px;
    height: 1em;
    margin-top: 15vh;
    span {
        position: absolute;
        height: 1em;
        margin-left: 300px;
        font-weight: bolder;
        &::before {
            position: absolute;
            font-weight: bolder;
            content: attr(data-text);
            color: white;
            clip-path: var(--name-clip);
        }
    }
}
