
:root {
    --name-clip: none;
}

main {
    position: relative;
    min-height: 10000px;
    overflow: hidden;
    width: 100%;
}

.background_layer1 {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

header {
    background-color: rgba(37, 37, 37);
    color: rgb(37, 37, 37);
    font-size: 3em;
    margin-top: 15vh;
    height: calc(1em);
    padding: 40px;
    span {
        margin-left: 300px;
        position: absolute;
        display: block;
        line-height: 1em;
        font-weight: bolder;
        &::before {
            position: absolute;
            color: white;
            font-weight: bolder;
            content: attr(data-text);
            clip-path: var(--name-clip);
        }
    }
}
